<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>collectionServlet</servlet-name>
        <servlet-class>controller.CollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageUsersServlet</servlet-name>
        <servlet-class>controller.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageItemsServlet</servlet-name>
        <servlet-class>controller.ManageItemsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/users/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/users/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/users/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>collectionServlet</servlet-name>
        <url-pattern>/collections/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>collectionServlet</servlet-name>
        <url-pattern>/collections/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageUsersServlet</servlet-name>
        <url-pattern>/users/manage/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageItemsServlet</servlet-name>
        <url-pattern>/users/manage/items</url-pattern>
    </servlet-mapping>
</web-app>