.collection-item{
    border-bottom: solid 1px #e3e4e5;
    border-top: solid 1px #e3e4e5;
    padding: 10px auto;
}
.collection-header{
    border-bottom: solid 1px #e3e4e5;
}
.collection-img{
    width: 100%;
}
.item-img-body{
    margin: 10px auto;
}