body{
    background-color: lightgrey;
}

.carousel-img {
    width: 100%!important;
}
#myCarousel{
    width: 60%;
    margin: auto;
}

img.index-reflect-img{
    width: 100%;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.5)));
}
.index-body p{
    visibility: hidden;
}
.index-margin{
    height: 30px;
}