.register-form-group{
    margin: 10px auto!important;
}
.register-tip{
    margin: 0 auto!important;
}
.register-form{
    border: solid 3px #e3e4e5 ;
    padding: 30px 15px;
    margin: 40px auto;
}
.register-button{
    margin: 28px auto!important;
}
.info{
    visibility: hidden;
    color: #8a6d3b;
}