body{
    background-image: url("/templates/img/web_img/register.jpg");
    background-repeat: no-repeat;
}
.register-form-group{
    margin: 10px auto!important;

}
.register-tip{
    margin: 0 auto!important;
}
.register-form{
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 3px #e3e4e5 ;
    padding: 30px 15px;
    margin: 40px auto;
}
.register-button{
    margin: 28px auto!important;
}
.info{
    visibility: hidden;
    color: #8a6d3b;
}